[submodule "nova-floc"]
	path = AcoBurd/lib/Floc
	url = git@github.com:EchoNet-Capstone/nova-floc.git

[submodule "nova-nmv3"]
	path = AcoBurd/lib/nmv3
	url = git@github.com:EchoNet-Capstone/nova-nmv3.git